section.light-bg {
	background: $light;
	.accordion-group {
		.accordion {
			background: white;
			border: 1px solid $lightgrey;
			margin-bottom: 1rem;

			.header {
				padding: 3rem;
			}

			.content {
				.inner-wrapper {
					padding: 3rem;
					padding-top: 0;
				}
			}
		}
	}
}

.accordion-group {
	width: 100%;

	&.transition-group {
		> div {
			width: 100%;
		}
	}

	.accordion {
		@include col(12);
		border-top: 1px solid $lightgrey;

		&:last-child {
			margin-bottom: 0 !important;
		}
	}

	.header {
		// padding: 3rem;
		@include padding-y(3rem);
		cursor: pointer;
		@include bold();
		color: $darkgrey;
		transition: color .2s ease;
		font-size: 2rem;
		line-height: 1;
		display: flex;
		align-items: top;
		justify-content: flex-start;

		.year,
		.title,
		.author {
			display: inline-block;
		}

		.year {
			margin-right: 1.5rem;
			@include normal();
		}

		.author {
			margin-left: 1rem;
			@include normal();
		}

		.icon {
			margin-left: auto;
			// flex: auto;
			img,
			svg {
				float: right;
				height: .8rem;
				path {
					fill: $grey;
				}
			}

			.ie11 & {
				width: 20px;
			}
		}

		&:hover {
			color: black;
		}
		&[aria-expanded=true] {
			color: $primary;
			.icon {
				img,
				svg {
					transform: rotate(-180deg);
					path {
						fill: $primary;
					}
				}
			}
		}
	}
	.content {
		.inner-wrapper {
			justify-content: space-between;
			margin-bottom: rem(30px);
		}
		.text {
			@include col((
				xs: 12,
				lg: 7,
			));
			color: $grey;
			p {
				margin-bottom: 1em;
			}
		}
		.details {
			@include col((
				xs: 12,
				lg: 4,
			));
			font-size: 1.4rem;
			color: $grey;
			a {
				color: $darkblue;
				&:hover {
					text-decoration: underline;
				}
			}
			.notes {
				width: 60%;
				&:before {
					content: "Notes";
					color: $primary;
					@include bold();
					display: block;
				}
			}
		}
	}
}
