// GRID CARD COMPONENT

section {
  .grid-card {
    // APPLY COLORS TO SEE CARD MARGINS/SPACING

    // .inner-wrapper {
    //     background: yellow;
    //     .content {
    //         background: orange;
    //     }
    // }

    a.image-link {
      @include cover();
      outline: none;
      z-index: 30;
    }

    .header,
    .image,
    .image-wrapper,
    .content {
      width: 100%;
      position: relative;
    }

    .header-title {
      @include karbon();
      display: block;
      &:hover {
        text-decoration: none;
      }
    }

    .image {
      .image-wrapper {
        background: $light;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        &:after {
          transition: opacity 0.4s ease;
          @include cover();
          z-index: 10;
          background: black;
          opacity: 0;
        }
      }
      &:hover {
        .image-wrapper {
          &:after {
            opacity: 0.2;
          }
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;

      .title {
        color: $darkgrey;
        @include karbon();
        @include bold();
        line-height: 1.17;
        &:hover {
          text-decoration: none;
        }
        display: block;
      }

      .text {
        @extend .content-tinymce;
      }

      .caption {
        margin-top: 1rem;
        color: theme-color("darkgrey");
      }

      .subtitle {
        font-size: 1.4rem;
        text-transform: uppercase;
        @include bold();
        @include karbon();
        margin-bottom: 1rem;
        color: $primary-accessible;
      }
    }
  }
}

/* -------------------------------------------- */
// CARD SIZES

// 2 CARDS WRAP
section.cards-2 {
  .grid-card {
    @include col(
      (
        xs: 12,
        md: 6,
      )
    );
  }
}

// 3 CARDS WRAP
section.cards-3 {
  .grid-card {
    @include col(
      (
        xs: 12,
        md: 6,
        lg: 4,
      )
    );
  }
}

// 1 CARD WRAP
section.cards-1 {
  .grid-card {
    @include col(12);
  }
}

// 2 and 3 CARDS WRAP
section.cards-2,
section.cards-3 {
  .grid-card {
    .inner-wrapper {
      flex-direction: column;
      height: 100%;
    }
    .image {
      @include col(auto);
      width: 100%;
      .image-wrapper {
        padding-bottom: 66%;
      }
    }
    .content {
      .title {
        font-size: 2.4rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
      }
    }
  }
}

/* -------------------------------------------- */
// MARGINS
// Makes sure last row will have no bottom margin

// 3 Rem Margin Bottom Cards
section.cards-margin-bottom-3rem {
  .grid-card-row {
    margin-bottom: -3rem;
    .grid-card {
      margin-bottom: 3rem;
    }
  }
}

// 6 Rem Margin Bottom Cards
section.cards-margin-bottom-6rem {
  .grid-card-row {
    margin-bottom: -6rem;
    .grid-card {
      margin-bottom: 6rem;
    }
  }
}

// 6 Rem Margin Bottom Cards
section.cards-bottom-border-and-margin {
  .grid-card {
    margin-bottom: 3rem;

    @include media-breakpoint-up(md) {
      padding-bottom: 3rem;
      border-bottom: 1px solid $lightgrey;
    }

    &:last-child() {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}

/* -------------------------------------------- */
// FLEX

// Grid header fill fill space
section.cards-flex-top {
  .grid-card {
    .header {
      @include col(flex);
    }
  }
}

// Content and title will fill space
section.cards-flex-content-and-title {
  .grid-card {
    .content {
      @include col(flex);
      flex-basis: unset;
      .title {
        @include col(flex);
      }
    }
  }
}

// Text will and body will fill space
section.cards-flex-body-and-text {
  .grid-card {
    .content {
      @include col(flex);
      flex-basis: unset;
      .text {
        @include col(flex);
      }
    }
  }
}

// Content text will fill space
section.cards-flex-text {
  .grid-card {
    .content {
      .text {
        @include col(flex);
      }
    }
  }
}

/* -------------------------------------------- */
// CONTACTS
section.b-contacts-grid {
  @extend .cards-margin-bottom-6rem;
  @extend .cards-3;
  .grid-card {
    .content {
      .title {
        margin-top: 0;
      }
    }
  }
}

/* -------------------------------------------- */
// DEGREES && REQUIREMENTS
// BOTH use same styling
section.b-degrees-grid,
section.b-requirements-grid {
  @extend .cards-margin-bottom-6rem;
  @extend .cards-3;

  .tags {
    .tag {
      position: relative;
      background: $primary-accessible;
      color: #fff;
      border-radius: 10rem;
      letter-spacing: 0.1rem;
      font-size: 1.3rem;
      text-transform: uppercase;
      @include padding-y(1.8rem);
      @include padding-x(1.5rem);
      margin-top: 1rem;
      margin-right: 0.4rem;
      display: inline-flex;
      z-index: 30;
      line-height: 0;
      &:hover {
        background: $lightblue;
        text-decoration: none;
      }
    }
  }

  &.blue-bg {
    .section-header-row {
      .header {
        color: #fff;
      }
    }

    .grid-card {
      .title {
        color: $yellow;
      }
      .text {
        color: #fff;
      }
    }
  }
}

/* -------------------------------------------- */
// ENSEMBLES
section.b-ensembles-grid {
  @extend .cards-margin-bottom-3rem;
  @extend .cards-3;
}

section.b-ensembles-directory {
  @extend .cards-margin-bottom-3rem;
  @extend .cards-3;
}

/* -------------------------------------------- */
// FACULTY
section.b-faculty-grid {
  @extend .cards-margin-bottom-3rem;
  @extend .cards-3;
}

section.b-faculty-directory {
  @extend .cards-margin-bottom-3rem;
  @extend .cards-3;
}

/* -------------------------------------------- */
// EVENTS GRID
section.b-events-grid {
  @include media-breakpoint-down(sm) {
    .row.section-header-row .cta.circle-cta {
      display: inline-flex;
      flex-direction: row-reverse;
      margin-top: rem(10px);

      span {
        margin: 0;
      }

      .icon {
        background: none;
        width: rem(15px);
        height: rem(15px);
        margin-left: rem(5px);
      }
    }
  }

  @extend .cards-bottom-border-and-margin;
  @extend .cards-1;

  .grid-card {
    .title {
      font-size: 2.4rem;
      margin-bottom: 2rem;
    }
    .inner-wrapper {
      justify-content: start;
    }
    .image {
      @include col(
        (
          xs: 12,
          md: 4,
        )
      );
      .image-wrapper {
        padding-bottom: 66%;
      }
    }
    @include media-breakpoint-down(sm) {
      .event-box {
        position: relative;
        margin-top: 1rem;
        width: 100%;
        text-align: left;
        .event-date {
          display: inline-flex;
          text-align: center;
          margin-right: 1rem;
        }
        .event-details {
          display: inline-flex;
        }
      }
    }
    .content {
      @include col(
        (
          xs: 12,
          md: 6,
        )
      );
      @include padding-left(
        (
          xs: 0,
          md: 3rem,
        )
      );
    }
  }
}

/* -------------------------------------------- */
// FACILITIES
.b-facilities-grid {
  @extend .cards-margin-bottom-3rem;
  @extend .cards-2;
}

/* -------------------------------------------- */
// FUNDS
.b-funds-grid {
  @extend .cards-margin-bottom-3rem;
  @extend .cards-flex-top;
  @extend .cards-3;

  .header-title {
    color: $darkgrey;
    @include bold();
    line-height: 1.1;
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
  }
}

/* -------------------------------------------- */
// INFO
.b-info-grid {
  @extend .cards-margin-bottom-6rem;
  // @extend .cards-flex-top;

  .header-title {
    color: $primary;
    @include light();
    line-height: 1.1;
    font-size: 5.8rem;
    margin-bottom: 2rem;
    line-height: 1;
  }

  .title {
    margin-top: 0 !important;
  }
}

/* -------------------------------------------- */
// INSTRUMENTS
.b-instruments-grid {
  @extend .cards-margin-bottom-3rem;
  @extend .cards-3;
}

/* -------------------------------------------- */
// IMAGE LINKS
.b-image-links-grid {
  @extend .cards-margin-bottom-6rem;
}

/* -------------------------------------------- */
// LINKS
.b-links-grid {
  @extend .cards-margin-bottom-6rem;
  .grid-card {
    .content {
      padding-left: 7.5rem;
    }
    .cta.circle-cta.grey {
      position: absolute;
      left: 0;
      top: -1.5rem;
    }
  }
}

/* -------------------------------------------- */
// NEWS GRID
section.b-news-grid {
  // add to section header styling

  @include media-breakpoint-down(sm) {
    .row.section-header-row .cta.circle-cta {
      display: inline-flex;
      flex-direction: row-reverse;
      margin-top: rem(10px);

      span {
        margin: 0;
      }

      .icon {
        background: none;
        width: rem(15px);
        height: rem(15px);
        margin-left: rem(5px);
      }
    }
  }
}

/* -------------------------------------------- */
// STANDARD NEWS GRID (NOT HERO)
section.b-news-grid:not(.news-hero):not(.news-featured) {
  @extend .cards-margin-bottom-3rem;

  &.cards-1 {
    .grid-card {
      .inner-wrapper {
        justify-content: space-between;
      }
      .title {
        font-size: 2.8rem;
        margin-bottom: 2rem;
      }
      .image {
        @include col(
          (
            xs: 12,
            md: 5,
          )
        );
        @include margin-bottom(
          (
            xs: 1rem,
            md: 0rem,
          )
        );
        .image-wrapper {
          @include padding-bottom(
            (
              xs: 66%,
              md: 100%,
              lg: 66%,
            )
          );
        }
      }
      .content {
        @include col(
          (
            xs: 12,
            md: 6,
          )
        );
      }
    }
  }
  //  &:not(.cards-2) .grid-card:first-child(),
  &.cards-2 .grid-card {
    @include col(
      (
        xs: 12,
        lg: 6,
      )
    );

    @include media-breakpoint-only(md) {
      @include col(12);
      .inner-wrapper {
        flex-direction: row;
        justify-content: start;
        @include margin-x(-1.5rem);
      }
      .title {
        margin-top: 0;
      }
      .image {
        @include col(6);
        @include padding-x(1.5rem);
      }
      .content {
        @include col(6);
        @include padding-x(1.5rem);
      }
    }
  }

  &.cards-3 {
    .grid-card {
      @include col(
        (
          xs: 12,
          md: 6,
          lg: 4,
        )
      );

      @include media-breakpoint-only(md) {
        &:nth-child(3n + 1),
        &:first-child() {
          @include col(12);
          .inner-wrapper {
            flex-direction: row;
            justify-content: start;
            @include margin-x(-1.5rem);
            @include border-y(1px solid $lightgrey);
            @include padding-y(3rem);
          }
          .title {
            margin-top: 0;
          }
          .image {
            @include col(6);
            @include padding-x(1.5rem);
          }
          .content {
            @include col(6);
            @include padding-x(1.5rem);
          }
        }
        &:first-child {
          .inner-wrapper {
            border-top: none;
            padding-top: 0;
          }
        }
        &:last-child {
          .inner-wrapper {
            border-bottom: unset;
            padding-bottom: 0;
          }
        }
      }

      @include media-breakpoint-down(sm) {
        @include col(6);
        &:nth-child(5n + 1),
        &:first-child() {
          @include col(12);
        }
      }
    }
  }
}

/* -------------------------------------------- */
// NEWS GRID HERO
section.b-news-grid.news-hero {
  .grid-card-row {
    justify-content: space-between;
    margin-bottom: 0;
  }

  .grid-card {
    @include col(
      (
        xs: 12,
        md: 7,
        lg: 8,
      )
    );
    position: relative;
    margin-bottom: 0;

    .image {
      @include col(12);

      .image-wrapper {
        @include padding-bottom(
          (
            xs: 100%,
            lg: 66%,
          )
        );
      }

      .overlay {
        @include cover();
        background: $dark-gradient-vertical;
      }

      .image-title {
        position: absolute;
        width: 100%;
        left: 0;
        height: auto;
        top: unset;
        bottom: 0;
        padding: 2.5rem;
        font-size: 3.8rem;
        line-height: 1.2;
        color: #fff;
        font-weight: 500;
        @include karbon();
        @include media-breakpoint-down(xs) {
          font-size: 3.2rem;
        }
      }
    }
  }

  .hero-sidebar {
    @include col(
      (
        xs: 12,
        md: 4,
        lg: 3,
      )
    );

    @include margin-top(
      (
        xs: 3rem,
        md: 0rem,
      )
    );

    .news-search {
      @include col(12);
      padding-bottom: rem(25px);
      border-bottom: 1px solid #dee2e6;
      margin-bottom: rem(25px);
    }

    .news-tags {
      display: block;

      h3 {
        font-size: rem(12px);
        font-family: $font-main;
        font-weight: 600;
        margin-bottom: rem(15px);
      }

      a {
        margin: rem(7px) 0;
        font-size: rem(18px) !important;
        font-family: $font-main;
        font-weight: 500;
        text-transform: lowercase;
        color: theme-color("darkgrey");
        transition: color 0.15s;
        display: block;

        &:before {
          content: "#";
        }

        &:hover {
          color: theme-color("grey");
          transition: color 0.15s;
          text-decoration: none;
        }
      }
    }
  }

  .row.section-header-row .header {
    font-size: rem(82px);
    @include font-size(
      (
        xs: 3.2rem,
        md: 5.2rem,
        lg: 8.2rem,
      )
    );

    @include font-weight(
      (
        xs: 600,
        md: 400,
        lg: 300,
      )
    );
  }
}

/* -------------------------------------------- */
// PEOPLE
section.b-people-grid {
  @include media-breakpoint-down(sm) {
    .row.section-header-row {
      .header {
        width: 100%;
        margin-bottom: rem(15px);
      }
      .slick-dots-wrapper {
        position: static;
        transform: none;
      }
    }
  }
}

/* -------------------------------------------- */
// PEOPLE GRID NOT FEATURE
section.b-people-grid.grid:not(.feature) {
  @extend .cards-flex-body-and-text;

  .grid-card {
    .inner-wrapper {
      border: 1px solid $lightgrey;
    }
    .content {
      @include padding-x(1.5rem);
      padding-bottom: 3rem;
    }
  }
}

/* -------------------------------------------- */
// PEOPLE SLIDER
section.b-people-grid.slider {
  .grid-card-row.slick-slider .slick-list {
    @include padding-x(0);
  }
  .grid-card {
    @include padding-x($grid-gutter-width/2);
    .inner-wrapper {
      display: -webkit-box;
    }
    margin-bottom: 0;
  }
}

section.b-people-grid.cards-3.slider {
  .grid-card {
    .inner-wrapper {
      min-height: 37rem;
    }
  }
}

/* -------------------------------------------- */
// PEOPLE FEATURE
// For both grid.feature and team.feature
section.b-people-grid.feature {
  @extend .cards-1;
  .grid-card {
    .inner-wrapper {
      justify-content: space-between;
    }
    .title {
      font-size: 2.8rem;
      margin-bottom: 2rem;
    }
    .image {
      @include col(
        (
          xs: 12,
          lg: 5,
        )
      );
      @include margin-bottom(
        (
          xs: 1rem,
          lg: 0rem,
        )
      );
      .image-wrapper {
        @include padding-bottom(
          (
            xs: 66%,
            lg: 100%,
          )
        );
      }
    }
    .content {
      @include col(
        (
          xs: 12,
          lg: 6,
        )
      );
    }
  }
}

/* -------------------------------------------- */
// PEOPLE FEATURE NOT SLIDER
section.b-people-grid.team.feature:not(.slider) {
  @extend .cards-bottom-border-and-margin;
}

/* -------------------------------------------- */
// RESOURCES
// COLLECTIONS
section.b-resources-grid {
  @extend .cards-margin-bottom-3rem;
  @extend .cards-2;

  &.collection {
    .grid-card {
      .image {
        .image-caption {
          position: absolute;
          top: 2rem;
          left: 2rem;
          color: white;
          z-index: 20;
          font-size: 2rem;
        }
        .image-wrapper {
          &:after {
            opacity: 0.4;
          }
        }
      }
      .cta.circle-cta.blue {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        z-index: 10;
        span {
          display: none;
        }
      }
      &:hover {
        .image-wrapper {
          &:after {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

/* -------------------------------------------- */
// STATISTICS
section.b-statistics-grid {
  @extend .cards-margin-bottom-6rem;
  @extend .cards-3;
  @extend .cards-flex-body-and-text;

  .grid-card {
    @include col(
      (
        xs: 4,
      )
    );
    @include media-breakpoint-down(xs) {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    text-align: center;

    .ie11 & {
      .inner-wrapper {
        @include media-breakpoint-up(md) {
          min-height: rem(135px);
        }
      }
    }

    .text {
      line-height: 1.3;
      @include media-breakpoint-down(xs) {
        font-size: 1.3rem;
      }
    }
    .stat {
      position: relative;
      font-size: 10rem;
      color: $primary;
      margin-top: 1.5rem;
      line-height: 0.8;
      @include karbon();
      @include light();

      @include font-size(
        (
          xs: 5rem,
          sm: 6rem,
          md: 8rem,
          lg: 10rem,
        )
      );

      sub {
        font-size: 50%;
        bottom: 0;
      }
    }
  }

  .section-header-row {
    justify-content: center !important;
    text-align: center;
  }
}

.event-card {
  padding: 0 1.5rem;

  .image-container {
    margin-bottom: 2rem;

    @include media-breakpoint-down(md) {
      padding-bottom: 50%;
    }
  }

  .category {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.7px;
    font-weight: 700;
  }

  &-title {
    font-size: 2.4rem;
    line-height: 1;
  }

  .event-date {
    position: absolute;
    right: 20px;
    top: -60px;
    width: var(--event-date-size);
    height: var(--event-date-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background: $yellow;
    line-height: 1;
    padding: 1rem;
    color: theme-color("darkgrey");
    width: 7rem;
    span.date-number {
      font-size: 2.8rem;
    }
  }
}
