.cta {
    position: relative;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 1rem;
    display: inline-flex;
    // A White line would appear sometimes on chrome, setting backface visbility hidden seemed to fix.
    backface-visibility: hidden;


    /* -------------------------------------------- */
    // CTA with arrow and simplest styling
    .icon {
        order: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        flex-shrink:0;
        user-select: none;
        img,
        svg {
            position: relative;
            height: rem(12px);
            path {
                stroke: $primary;
            }
        }
    }
    span {
        order: 12;
        color: theme-color("darkgrey");
        @include karbon();
        letter-spacing: .05rem;
        margin-left: 1rem;
        font-size: 2rem;
        @include bold();
    }

    /* -------------------------------------------- */
    // Blue Top CTA for resources and facilities
    &.top-cta {
        display: flex;
        background: $blue-gradient;
        justify-content: space-between;
        @include padding-x(2rem);
        height: 5.6rem;
        margin-top: 0;

        .icon {
            order: 12;
            svg path {
                stroke: $yellow;
            }
        }

        span {
            order: 1;
            color: white;
            margin-left: 0;
            font-weight: normal;
            transition: color .2s ease-out;
        }
    }

    /* -------------------------------------------- */
    // Rounded pill shaped cta link for rsvp and call to action module
    &.pill-cta {
        border-radius: 4rem;
        display: inline-block;
        overflow: hidden;
        @include padding-y(2rem);
        @include padding-x(3.6rem);
        @include bold();

        @include margin-right((
            xs: 0,
            sm: 1.5rem,
        ));

        z-index: 2;
        @include width((
            xs: 100%,
            sm: auto,
            md: auto,
        ));

        span {
            font-size: 1.4rem;
            line-height: 1;
            letter-spacing: .05rem;
            margin-left: 0;
            text-transform: uppercase;
        }

        &:hover
         {
            text-decoration: none;
            &:before {
                opacity: 1;
            }
        }

        &:before {
            @include cover();
            transition: opacity .2s ease;
            z-index: -2;
            opacity: 0;
        }

        &:last-child() {
            margin-right: 0;
        }

        &.blue {
            background: $primary;
            span {
                color: white;
            }
            &:before {
                background: $darkblue;
            }
        }
        &.yellow {
            color: black;
            background: $yellow;
            &:before {
                background: $yellow-gradient;
            }
        }
    }

    /* -------------------------------------------- */
    // Circle shaped cta used for most modules and hero, also includes emphasized version
    &.circle-cta {
        margin-top: 2rem;

        // Emphasized hero cta link, with additional styling
        // EMPHASIZED CIRCLE CTA
        &.emphasized-cta {
            margin-top: 3rem;
            padding: 1.5rem;
            padding-left: 2.5rem;
            border-radius: 4rem;
            // order 12, position icon at right side
            @extend .flip;
            z-index: 2;
            overflow: hidden;
            z-index: 10;
            @include media-breakpoint-down(xs) {
                
            }
            @include media-breakpoint-down(md) {
              flex-wrap: wrap;
            }

            .icon, span, .em-link-text, .em-icon {
                z-index: 2;
            }

            .em-icon {
                margin-right: 2rem;
                height: 2.8rem;
                width: 2.8rem;
                path {
                    stroke: none;
                    transition: fill .2s linear;
                }
                @include media-breakpoint-down(md) {
                    
                }
            }

            &.em-calendar-icon {
                span {
                    @include media-breakpoint-down(xs) {
                        margin-left: auto !important;
                    }
                }
                @include media-breakpoint-down(md) {
                    .em-icon {
                      order: 3;
                      margin-left: 2.5rem;
                    }
                }
            }

            .em-link-text {
                font-size: 2.4rem;
                @include bold;
                @include karbon();
                line-height: 1;
                order: 1;
                margin-right: 2rem;
                @include media-breakpoint-down(xs) {
                    @include col(flex);
                }
                @include media-breakpoint-down(md) {
                  flex-basis: 100%;
                  order: 0;
                  margin-bottom: 1rem;
                }
            }

            &:before {
                z-index: -2;
                @include cover();
                opacity: 0;
                transition: opacity .2s linear;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }

            &.blue, &.blue:hover {
                @include media-breakpoint-up(lg) {
                  background: $blue-gradient;
                }
                &:before {
                  @include media-breakpoint-up(lg) {
                    background: $blue-gradient-light;
                  }
                }
                span {
                    color: white;
                }
                .icon {
                    background: $yellow;
                    path {
                        stroke: black;
                    }
                    @include media-breakpoint-down(md) {
                      background: $primary;
                      path {
                          stroke: white;
                      }
                    }
                }
                .em-link-text {
                    color: white;
                }
            }


            &.blue {
                .em-icon path {
                    fill: $lightblue;
                }
                &:hover {
                    .em-icon path {
                        fill: white;
                    }
                }
            }

            &.yellow, &.yellow:hover {
                background: $yellow-gradient;
                &:before {
                    background: $yellow;
                }
                span {
                    color: $primary;
                }
                .icon {
                    background: $primary;
                    path {
                        stroke: white;
                    }
                }
                .em-link-text {
                    color: $primary;
                }
                .em-icon path {
                    fill: $primary;
                }
            }
        }
        // end emphasized

        /* -------------------------------------------- */
        // CIRCLE CTA
        // Standard circle cta styling
        .icon {
            border-radius: 100%;
            height: 4.6rem;
            width: 4.6rem;
            transition: background .2s ease-out;
        }
        span {
            font-size: 1.4rem;
            text-transform: uppercase;
            margin-left: 2rem;
        }
        // Flip arrow icon to point opposite direction, used for slick slider arrows
        &.flip-icon {
            .icon {
                transform: rotate(-180deg);
            }
        }
        // Flip span text to show on left instead of right
        &.flip {
            .icon {
                order: 12;
                @include media-breakpoint-down(md) {
                  order: 1;
                }
            }
            span {
                order: 1;
                margin-left: 0;
                margin-right: 2rem;
                @include media-breakpoint-down(md) {
                  margin-left: 2rem;
                  margin-right: 0;
                }
            }
        }
        // For detail cta links
        &.small {
            margin-top: 1.25rem;
            span {
                margin-left: 1rem;
            }
            &.flip {
                span {
                    margin-right: 1rem;
                    margin-left: 0;
                }
            }
            .icon {
                img,
                svg {
                    height: .8rem;
                }
                width: 2.8rem;
                height: 2.8rem;
            }
        }
        &.blue {
            .icon {
                background: $primary;
                svg path {
                    stroke: #fff;
                }
            }
            span {
                color: $primary-accessible;
            }
            .title:hover + .text + &,
            &:hover, &.hover {
                .icon {
                    background: $darkblue;
                }
                span {
                    color: $darkblue;
                }
            }
        }
        &.yellow {
            .icon {
                background: $yellow;
                svg path {
                    stroke: black;
                }
            }
            span {
                color: theme-color("darkgrey");
            }
            .title:hover + .text + &,
            &:hover, &.hover {
                .icon {
                    background: $orange;
                }
            }
        }
        &.grey {
            .icon {
                background: $light;
                svg path {
                    stroke: theme-color("darkgrey");
                }
                span {
                    color: theme-color("darkgrey");
                }
            }
            .title:hover + .text + &,
            &:hover, &.hover {
                .icon {
                    background: $darkgrey;
                    svg path {
                        stroke: $light;
                    }
                }
            }
        }
        // Inverted text color when background image or color is darker
        &.white-text {
            span {
                color: white;
            }
            &:hover, &.hover {
                span {
                    color: $yellow;
                }
            }
        }
    }

    &:hover, &.hover {
        text-decoration: none !important;
    }
}
