// Colours
$pd-text-color: $darkgrey;
$pd-title-color: $grey;
$pd-title-bg: $lighter;
$pd-picker-bg: $lighter;
$pd-picker-border: #fff;
$pd-picker-border-bottom: #fff;
$pd-picker-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
$pd-th-color: $darkgrey;
$pd-day-color: $darkgrey;
$pd-day-bg: $lighter;
$pd-day-hover-color: $darkblue;
$pd-day-hover-bg: $lighter;
$pd-day-today-color: $lightblue;
$pd-day-selected-color: #fff;
$pd-day-selected-bg: $lightblue;
$pd-day-selected-hover-color: #fff;
$pd-day-selected-hover-bg: $darkblue;
$pd-day-disabled-color: $lightgrey;
$pd-week-color: $grey;
$pd-font-family: $font-main;

.pika-container {
	position: absolute;
	left: -1px;
	top: calc(7.4rem - 2px);
	z-index: 900;
	width: calc(100% + 2px);

	.calendar & {
		background: $pd-picker-bg;
		border: 1px solid $pd-picker-border;
		border-top: none;
		border-bottom-color: $pd-picker-border-bottom;
		overflow: hidden;
		box-shadow: $pd-picker-shadow;
	}
}

.pika-single {
	z-index: 900;
	display: block;
	position: relative;
	color: $pd-text-color;
	font-family: $pd-font-family;

	&.is-hidden {
		display: none;
	}

	&.is-bound {
		border: none;
		box-shadow: none;
		position: absolute;
	}
}

// clear child float (pika-lendar), using the famous micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.pika-single {
	*zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.pika-lendar {
	float: left;
	width: 100%;
	padding: 2.5rem;
}

.pika-custom {
	width: 100%;

	.pika-status-bar {
		background: $grey;
		padding: 5px 16px;

		.pika-start-date {
			display: inline;
			color: white;
			margin-left: 10px;
		}

		.pika-status-bar-icons {
			color: white;
			position: absolute;
			right: 0;
			top: 6px;
			right: 10px;
			@include no-select();
		}
	}

	.pika-event-btn {
		@include karbon();
		font-size: 1.6rem;
		@include bold();
		@include padding-y(.8rem);
		@include padding-x(2rem);
		cursor: pointer;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $darkgrey;

		&:hover {
			color: white;
			background: $lightblue;
		}
	}
}

.pika-title {
	position: relative;
	text-align: center;
	margin-bottom: 1rem;
	.pika-label {
		font-size: rem(20px);
	}
	select {
		cursor: pointer;
		position: absolute;
		z-index: 9998;
		margin: 0;
		left: 0;
		top: 5px;
		filter: alpha(opacity=0);
		opacity: 0;
	}
}

.pika-label {
	display: inline-block;
	*display: inline;
	position: relative;
	z-index: 9999;
	overflow: hidden;
	margin: 0;
	padding: 5px 3px;
	line-height: 20px;
	color: $pd-title-color;
	background-color: $pd-title-bg;
}

.pika-prev,
.pika-next {
	display: block;
	cursor: pointer;
	position: relative;
	outline: none;
	border: 0;
	padding: 0;
	width: 13px;
	height: 22px;
	text-indent: 20px; // hide text using text-indent trick, using width value (it's enough)
	white-space: nowrap;
	overflow: hidden;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 75% 75%;
	opacity: 1;
	*position: absolute;
	top: 4px;
	width: rem(11px);
	height: rem(22px);

	&:hover {
		opacity: 1;
	}

	&.is-disabled {
		cursor: default;
		opacity: 0.2;
	}
}

.pika-prev,
.is-rtl .pika-next {
	float: left;
	background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='9px' height='15px' viewBox='0 0 9 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EShape Copy 16%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Events' transform='translate(-956.000000, -1875.000000)' fill='%23717171' fill-rule='nonzero'%3E%3Cg id='Calendar' transform='translate(926.000000, 1675.000000)'%3E%3Cpath d='M31.6166822,214.741075 C31.2471628,215.086015 30.6476934,215.086351 30.2777299,214.741825 C29.9077664,214.397299 29.9074063,213.838377 30.2769258,213.493437 L36.7129031,207.50001 L30.2769258,201.506583 C30.0378886,201.283446 29.9446872,200.95836 30.0324297,200.653781 C30.1201722,200.349202 30.3755283,200.111404 30.7023079,200.029962 C31.0290875,199.94852 31.3776451,200.035808 31.6166822,200.258945 L38.7224432,206.876191 C38.9001399,207.041525 39,207.265972 39,207.500032 C39,207.734093 38.9001399,207.95854 38.7224432,208.123873 L31.6166822,214.741075 Z' id='Shape-Copy-16' transform='translate(34.500000, 207.500000) rotate(180.000000) translate(-34.500000, -207.500000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

	// background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
	*left: 0;
}

.pika-next,
.is-rtl .pika-prev {
	float: right;
	background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='9px' height='15px' viewBox='0 0 9 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EShape Copy 15%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Events' transform='translate(-1239.000000, -1875.000000)' fill='%23717171' fill-rule='nonzero'%3E%3Cg id='Calendar' transform='translate(926.000000, 1675.000000)'%3E%3Cpath d='M314.616682,214.741075 C314.247163,215.086015 313.647693,215.086351 313.27773,214.741825 C312.907766,214.397299 312.907406,213.838377 313.276926,213.493437 L319.712903,207.50001 L313.276926,201.506583 C313.037889,201.283446 312.944687,200.95836 313.03243,200.653781 C313.120172,200.349202 313.375528,200.111404 313.702308,200.029962 C314.029088,199.94852 314.377645,200.035808 314.616682,200.258945 L321.722443,206.876191 C321.90014,207.041525 322,207.265972 322,207.500032 C322,207.734093 321.90014,207.95854 321.722443,208.123873 L314.616682,214.741075 Z' id='Shape-Copy-15'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

	*right: 0;
}

.pika-select {
	display: inline-block;
	*display: inline;
}

.pika-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
	position: relative;

	tr {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	th,
	td {
		width: 14%;
		padding-bottom: 14%;
		position: relative;
		@include margin-y(.5rem);
	}

	th {
		color: $pd-th-color;
		line-height: 25px;
		text-align: center;
		display: none;
	}

	abbr {
		border-bottom: none;
		text-decoration: none;
		// cursor: help;
		opacity: 0.5;
	}
}

.pika-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	border: 0;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	background: yellow;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	color: $pd-day-color;
	line-height: 1;
	text-align: center;
	background: $pd-day-bg;
	font-size: 2.1rem;
	@include bold();

	.is-today & {
		color: $pd-day-today-color;
	}

	.is-selected & {
		color: $pd-day-selected-color;
		background: $pd-day-selected-bg;
		&:hover {
			color: $pd-day-selected-hover-color;
			background: $pd-day-selected-hover-bg;
		}
	}

	.is-disabled &,
	.is-outside-current-month & {
		color: $pd-day-disabled-color;
		opacity: 0.3;
	}

	.is-disabled & {
		pointer-events: none;
		cursor: default;
	}

	&:hover {
		color: $pd-day-hover-color;
		background: $pd-day-hover-bg;
	}

	.is-selection-disabled {
		pointer-events: none;
		cursor: default;
	}
}

.pika-week {
	font-size: 1.2rem;
	color: $pd-week-color;
}

.is-inrange .pika-button {
	background: #d5e9f7;
}

.is-startrange .pika-button {
	background: #6cb31d;
	box-shadow: none;
}

.is-endrange .pika-button {
	background: #33aaff;
	box-shadow: none;
}
