/* -------------------------------------------- */
// SECTION HEADER COMPONENT

.row.section-header-row {
    align-items: center;
    justify-content: space-between;
    @include margin-bottom((
        xs: 3rem,
        md: 6rem,
    ));

    .on-event-page & {
      @include margin-bottom((
        xs: 3rem,
        md: 3rem,
    ));
    }
    // Maybe when the section has extra spacing
    // margin-top: -3rem;

    .cta.circle-cta {
        margin-top: 0;
        display: inline-flex;
        margin-left: auto;
        @include media-breakpoint-down(sm) {
            display: block;
            margin-top: 2rem;
            margin-left: 0;
            .icon {
                order: 1;
            }
            span {
                order: 12;
                margin-left: 2rem;
            }
        }
    }

    .header {
        @include font-size((
            xs: 3.2rem,
            sm: 3.8rem,
        ));

        .on-event-page & {
          @include font-size((
              xs: 2.2rem,
              sm: 2.8rem,
          ));
        }
        color: $primary;
        @include karbon();
        font-weight: 400;
        display: inline-flex;
        line-height: 1;
    }

    .subheader {
        color: theme-color('darkgrey');
        @include karbon();
        font-weight: bold;
        margin-top: 1.5rem;

        @include col((
          xs: 12,
          md: 6,
        ))
    }

    .slick-dots-wrapper {
        position: absolute;
        display: inline-flex;
        left: 50%;
        top: 51%;
        transform: translate(-50%, -50%);

        @include media-breakpoint-down(lg) {
          display: none;
        }
    }

    .slick-cta-text {
      @include col(auto);
      margin-left: auto;
      text-transform: uppercase;
      color: theme-color('darkgrey');
      font-family: $font-main;
      font-size: rem(14px);
      letter-spacing: 0.1rem;
      font-weight: bold;
      @include media-breakpoint-down(xs) {
          margin-left: 0;
          margin-right: auto;
      }
    }

    .slick-arrows {
        display: flex;

        @include col(auto);
        margin-left: rem(25px);

        @include media-breakpoint-down(xs) {
            display: none;
        }

        .cta.circle-cta {
          @include media-breakpoint-down(sm) {
              margin-top: 0;
          }
        }
    }
}
