@font-face {
  font-family: 'Karbon';
  src:
    url('../fonts/KarbonWeb-Light.woff') format('woff'),
    url('../fonts/KarbonWeb-Light.eot') format('eot');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Karbon';
  src:
    url('../fonts/KarbonWeb-Regular.woff') format('woff'),
    url('../fonts/KarbonWeb-Regular.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karbon';
  src:
    url('../fonts/KarbonWeb-Medium.woff') format('woff'),
    url('../fonts/KarbonWeb-Medium.eot') format('eot');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Karbon';
  src:
    url('../fonts/KarbonWeb-Semibold.woff') format('woff'),
    url('../fonts/KarbonWeb-Semibold.eot') format('eot');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src:
    url('../fonts/proximanova-reg.woff2') format('woff2'),
    url('../fonts/proximanova-reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src:
    url('../fonts/proximanova-bold.woff2') format('woff2'),
    url('../fonts/proximanova-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
