html {
  font-size: 10px;
}

body {
  @include proxima();
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  @include karbon();
  line-height: $line-height-base;
  margin-bottom: 0;
}

img {
  display: block;
}

iframe {
  border: none;
}

ul {
  @include list-unstyled;
  margin-bottom: 0;
}

a {
  color: $primary-accessible;
}

p {
  margin-bottom: 0;
}

.container {
  @include media-breakpoint-up(xl) {
    max-width: 1170px;
  }
}

/* -------------------------------------------- */

// Apply row column padding for elements using column mixins rather than bootstrap
.row {
  position: relative;
}

.row:not(.no-gutters) {
  .cols {
    @include padding-x($grid-gutter-width/2);
  }
}

/* -------------------------------------------- */

section {
  position: relative;
  overflow: hidden;

  .container {
    position: relative;
    @include padding-y(6rem);

    .on-event-page & {
      @include padding-y(3rem);
    }
  }

  /* -------------------------------------------- */

  &.border-top {
    // unset bootstrap border otp
    border-top: none !important;
    .container {
      &:before {
        @include cover();
        height: 0;
        border-top: 1px solid $lightgrey !important;
        width: calc(100% - 3rem);
        @include margin-x(1.5rem);
      }

      .no-border &:before {
        display: none;
      }
    }
  }

  /* -------------------------------------------- */

  // Extra on top and bottom of section
  // For builder sections with background colors or images
  &.extra-spacing {
    .container {
      @include padding-y(
        (
          xs: 3rem,
          md: 8rem,
          lg: 12rem,
        )
      );
    }
  }

  // Minium height for sections with image masks
  &.image-mask {
    .container {
      @include min-height(
        (
          xs: 70rem,
          md: 70rem,
          lg: 80rem,
        )
      );
    }
    @extend .extra-spacing;
  }

  // Minimum height for sectiosn with background image or color
  &.background-image {
    background-position: center center;
    background-size: cover;

    .container {
      @include min-height(
        (
          xs: 49rem,
          md: 56rem,
          lg: 65rem,
        )
      );
    }
    @extend .extra-spacing;
  }

  /* -------------------------------------------- */

  &.yellow-bg {
    background: $yellow-gradient;
    @extend .extra-spacing;
    &.flip-gradient {
      @include background(
        (
          xs: $yellow-gradient,
          md: $yellow-gradient-flip,
        )
      );
    }
    &:before {
      @include cover();
      background: $orange;
      transition: opacity 0.6s linear;
      will-change: opacity;
    }
    &.show-gradient {
      &:before {
        opacity: 0;
      }
    }
  }

  &.blue-bg {
    background: $blue-gradient;
    color: #fff;
    @extend .extra-spacing;
    &.flip-gradient {
      @include background(
        (
          xs: $blue-gradient,
          md: $blue-gradient-flip,
        )
      );
    }
    &:before {
      @include cover();
      background: $darkblue;
      transition: opacity 0.6s linear;
      will-change: opacity;
    }
    &.show-gradient {
      &:before {
        opacity: 0;
      }
    }
  }

  &.light-bg {
    background: $light;
    @extend .extra-spacing;
  }

  &.black-bg {
    background: black;
    @extend .extra-spacing;
  }

  &.white-bg {
    background: #fff;
  }
}

/* -------------------------------------------- */
// Reset tribe styling
#tribe-events-pg-template {
  margin: 0;
  max-width: unset;
  padding: 0 !important;
}

/* -------------------------------------------- */
// Yellow highlight on select

::selection {
  background: $yellow;
  color: black;
}

::-moz-selection {
  background: $yellow;
  color: black;
}

/* -------------------------------------------- */
// Prevent unintended transitions on page load https://css-tricks.com/transitions-only-after-page-load/

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* -------------------------------------------- */
// Bring down content below navigation

.wrap {
  @include padding-top(
    (
      xs: 5rem,
      md: 11rem,
    )
  );

  &.has-submenu {
    @include padding-top(
      (
        xs: 10rem,
        md: 16rem,
        lg: 11rem,
      )
    );
  }
}

/* -------------------------------------------- */
// Slick

.slick-slide {
  &:focus,
  a {
    outline: none;
  }
}

.slick-arrows {
  .cta {
    &:first-child() {
      margin-right: 0.5rem;
    }
    cursor: pointer;
  }
}

.slick-dots {
  li {
    button {
      display: none;
    }
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    margin-right: 1.5rem;
    &:last-child {
      margin-right: 0;
    }
    background: $lightgrey;
    display: inline-block;

    &.slick-active {
      background: $yellow;
    }
  }
}

// Hide People Grid slider until loaded
.b-people-grid.slider .grid-card-row {
  display: none;

  &.slick-initialized {
    display: block;
  }
}

/* -------------------------------------------- */

// External Links and social media
.external-links {
  z-index: 30;
  margin-top: 4rem;
  .icon {
    outline: none;
    border: none;
    position: relative;
    margin-right: 0.5rem;
    z-index: 30;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    background: $light;
    color: $grey;
    margin-right: 0.5rem;

    img,
    svg {
      width: auto;
      height: 1.6rem;
      path {
        fill: $grey;
      }
    }

    &:last-child() {
      margin-right: 0;
    }

    transition: all 0.2s ease;
    &:hover {
      background: $grey;
      color: white;
      img,
      svg {
        path {
          fill: white;
        }
      }
    }
  }
}

/* -------------------------------------------- */
// EVENT BOX
.event-box {
  @include padding-x(0 !important);
  position: absolute;
  right: 1.5rem;
  width: 7rem;
  text-align: center;
  .event-date {
    width: 7rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    @include bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background: $yellow;
    line-height: 1;
    padding: 1rem;
    color: theme-color("darkgrey");
    span.date-number {
      font-size: 2.8rem;
    }
  }
  .event-details {
    color: $grey;
  }
  &:hover {
    text-decoration: none;
  }

  ul.social-shares {
    margin-top: 2rem;
    li.social-share {
      cursor: pointer;
      display: block;
      width: 100%;
      @include padding-y(0.5rem);
      &:not(:last-child()) {
        margin-bottom: 0.5rem;
      }
      font-size: 1.2rem;
      border-radius: 0.3rem;
      color: white;
      line-height: 1;
      svg {
        margin-right: 0.3rem;
      }
      &.facebook {
        background: #4a6aa6;
      }
      &.twitter {
        background: #2baee7;
      }
      &.linkedin {
        background: #1c76af;
      }
    }
  }
}

/* -------------------------------------------- */
// Ajax Load More button styling
.malinky-load-more {
  margin-top: rem(50px);
  margin-bottom: rem(50px);

  a {
    padding: rem(15px);
    border: 1px solid theme-color("lightgrey");
    font-family: $font-main;
    font-size: rem(14px);
    color: theme-color("grey");
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: background-color 0.15s;

    &:hover {
      text-decoration: none;
      background-color: theme-color("light");
      transition: background-color 0.15s;
    }
  }
}

.malinky-ajax-pagination-loading {
  display: none !important;
}

/* -------------------------------------------- */
// Password protected page text-transform
form.post-password-form {
  margin: 10rem auto 10rem;
  text-align: center;

  p {
    margin-bottom: 2.5rem;
  }

  input[type="password"] {
    display: block;
    text-align: center;
    width: 100%;
    border: 1px solid #d9d9d9;
    background-color: #faf8f8;
    border-radius: rem(3px);
    padding: rem(15px);
    font-family: $font-main;
    margin-bottom: rem(15px);

    &:active,
    &:focus {
      background-color: #fff;
    }
  }

  input[type="submit"] {
    display: block;
    font-family: $font-main;
    font-weight: 600;
    font-size: rem(14px);
    border: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: theme-color("lightblue");
    color: #fff;
    padding: rem(15px) rem(35px);
    margin: 0 auto 3rem;
    border-radius: rem(50px);
    cursor: pointer;
  }
}

/* -------------------------------------------- */
// 404
body.error404 {
  main {
    margin: 10rem auto 10rem;

    .page-header {
      text-align: center;
    }

    .alert {
      background-color: transparent;
      border: 0;
      color: $darkgrey;
      text-align: center;
    }

    form {
      margin-top: 5rem;

      label {
        display: block;
        margin: 0 auto 1.5rem;
        max-width: 100%;
        width: 40rem;

        input[type="search"] {
          display: block;
          text-align: center;
          width: 100%;
          border: 1px solid #d9d9d9;
          background-color: #faf8f8;
          border-radius: rem(3px);
          padding: rem(15px);
          font-family: $font-main;
          margin-bottom: rem(15px);

          &:active,
          &:focus {
            background-color: #fff;
          }
        }
      }

      input[type="submit"] {
        display: block;
        font-family: $font-main;
        font-weight: 600;
        font-size: rem(14px);
        border: 0;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        background-color: theme-color("lightblue");
        color: #fff;
        padding: rem(15px) rem(35px);
        margin: 0 auto 3rem;
        border-radius: rem(50px);
        cursor: pointer;
      }
    }
  }
}

.image-container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  @include media-breakpoint-up(lg) {
    padding-bottom: 60%;
  }
  img,
  svg {
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    max-width: 100%;
    left: 0;
    top: 0;
  }
}

.block-foreground {
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
}

.block-background {
  position: relative;
}

#arrow-right {
  .cls-1,
  .cls-2 {
    fill: none;
    stroke: #434343;
    stroke-linecap: round;
    stroke-width: 1px;
  }

  .cls-2 {
    stroke-linejoin: round;
  }
}


.aspect-16-9 {
  position: relative;
  padding-bottom: 56.25%; //16:9
  height: 0;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
