.wp-block-image img {
  max-width: 100%;
  height: auto;
}
.is-type-video {

	.wp-block-embed__wrapper {
		display:        block;
		position:       relative;
		width:          100%;
		height:         0;
		padding-bottom: 56.25%; // 16:9 ratio
		margin-top:     1.5rem;

		iframe,
		object,
		embed {
			position:  absolute;
			top:       0;
			left:      0;
			width:     100%;
			max-width: 100%;
			height:    100%;
		}
	}
}

figcaption {
  margin-top: 1em;
  font-size: 75%;
  font-style: italic;
}

.entry-content {
  overflow-wrap: break-word;
}
