/* stylelint-disable no-descending-specificity */

.banner {
	position: fixed;
	z-index: 1000;
	width: 100%;

	.banner-main {
		background-color: #fff;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
		overflow: hidden;

		.banner-main-wrapper {
			height: rem(50px);
			padding: rem(5px) rem(15px);
			overflow: hidden !important;
			transition: all 0.25s;
			display: block;

			@include media-breakpoint-up(md) {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				padding: rem(4px) rem(15px);
			}

			@include media-breakpoint-between(md, lg) {
				height: rem(58px);
				padding: rem(8px) rem(15px);
			}

			&.shown {
				transition: all 0.25s;
				overflow: auto;

				@include media-breakpoint-up(md) {
					height: rem(110px);
					padding: rem(15px) rem(15px);

					.search-button {
						visibility: visible;
						opacity: 1;
						transition: opacity 0.15s, visibility 0s;
					}

					.calendar-button {
						visibility: visible;
						opacity: 1;
						transition: opacity 0.15s, visibility 0s;
					}

					.nav-secondary {
						visibility: visible;
						opacity: 1;
						transition: opacity 0.15s, visibility 0s;
					}

          .nav-bars {
            @include media-breakpoint-up(md) {
  						display: none;
  					}
          }
				}
			}

      &.open {
        height: 100vh;

        .nav-bars {
					span {
						transition: opacity 0.25s, transform 0.25s;

						&:nth-child(1) {
							opacity: 0;
						}

						&:nth-child(2) {
							transform: rotate(45deg);
						}

						&:nth-child(3) {
							transform: rotate(-45deg);
						}

						&:nth-child(4) {
							opacity: 0;
						}
					}
					@include media-breakpoint-up(md) {
						display: none;
					}
				}
      }

			.brand {
				order: 0;
				display: inline-block;
				img {
					width: rem(195px);

					@include media-breakpoint-up(md) {
						width: rem(215px);
					}

					@include media-breakpoint-up(xl) {
						flex-basis: 50%;
					}
				}

        @include media-breakpoint-down(sm) {
          width: 50%;
        }

				.ie11 & {
					img {
						height: 42px;
					}
				}
			}

			.nav-bars {
				display: inline-block;
				order: 1;
				position: relative;
				height: rem(14px);
				width: rem(20px);
				margin-top: rem(12px);
				float: right;
				cursor: pointer;
				@include media-breakpoint-up(md) {
					order: 3;
				}
				@include media-breakpoint-up(lg) {
					display: none;
				}

				span {
          position: absolute;
					width: 100%;
					height: rem(2px);
					background-color: theme-color("primary");
					border-radius: 2px;
					transition: opacity 0.25s, transform 0.25s;

					&:nth-child(1) {
						top: 0;
					}

					&:nth-child(2),
					&:nth-child(3) {
						top: rem(7px);
					}

					&:nth-child(4) {
						top: rem(14px);
					}
				}
			}

			.calendar-button {
				order: 5;
				display: flex;
				flex-basis: 100%;
				margin-bottom: rem(15px);

				@include media-breakpoint-up(md) {
					order: 5;
					flex-basis: auto;
					align-items: flex-end;
					margin-bottom: rem(-5px);
					margin-right: rem(-5px);
					margin-left: auto;
					visibility: hidden;
					opacity: 0;
				}

				@include media-breakpoint-up(xl) {
					order: 1;
					flex-basis: 50%;
					justify-content: flex-end;
					align-items: center;
				}

				a {
					display: block;
					transition: background-color 0.15s;
					border-radius: rem(3px);
					margin-right: -.5rem;

					@include media-breakpoint-up(md) {
						padding: rem(5px);
						@include padding-x(1rem);
					}

					&:hover {
						text-decoration: none;
						background-color: theme-color("light");
						transition: background-color 0.15s;
						color: theme-color("primary");
					}

					img {
						width: rem(20px);
						margin: rem(-5px) 0 0 rem(5px);
						display: inline-block;
					}

					span {
						margin-right: rem(10px);
						font-family: $font-main;
						font-size: rem(16px);
						font-weight: bold;
						color: theme-color("primary-accessible");
						letter-spacing: 0.02rem;
					}

					@include media-breakpoint-down(sm) {
						display: flex;
						align-items: center;
						flex-direction: row-reverse;

						span {
							margin-left: rem(10px);
						}

						img {
							transform: translateY(0);
							margin: 0;
						}
					}
				}
			}

			.search-button {
				order: 6;
				margin-bottom: rem(15px);
				flex-basis: 100%;
				display: flex;
				align-items: center;
				transition: opacity 0.15s, visibility 0s 0.15s;

				@include media-breakpoint-up(md) {
					order: 2;
					flex-basis: auto;
					margin-left: rem(25px);
					align-items: center;
					visibility: hidden;
					opacity: 0;
					display: flex;
					margin-bottom: 0;
				}

				@include media-breakpoint-up(xl) {
					order: 6;
					align-items: flex-end;
				}

				a {
					img {
						display: inline-block;
						height: rem(17px);
						width: rem(17px);
						transform: translateY(-15%);
					}

					span {
						margin-right: rem(10px);
						font-family: $font-main;
						font-size: rem(16px);
						font-weight: bold;
						color: theme-color("primary");
						letter-spacing: 0.02rem;

						@include media-breakpoint-up(md) {
							display: none;
						}
					}

					@include media-breakpoint-down(sm) {
						display: flex;
						align-items: center;
						flex-direction: row-reverse;

						span {
							margin-left: rem(10px);
						}

						img {
							transform: translateY(0);
							margin-right: rem(5px);
						}
					}
				}
			}

			.nav {
				display: block;
				margin-top: rem(25px);

				@include media-breakpoint-up(md) {
					display: flex;
					margin-top: 0;
				}

				li {
					@extend .nav-item;

					display: block;

					a {
						@extend .nav-link;

						padding: 0;
						font-size: rem(16px);
						font-family: $font-main;
						font-weight: bold;
						color: theme-color("darkgrey");
						letter-spacing: 0.02rem;

						&:hover {
							color: black;
						}
					}

					&.active a {
						color: theme-color("primary-accessible");
					}
				}
			}

			.nav-primary {
				order: 3;
				display: flex;
				flex-basis: 100%;

				@include media-breakpoint-up(md) {
					flex-basis: auto;
					align-items: flex-end;
				}

				.nav li {
					margin: rem(10px) 0;

					@include media-breakpoint-up(md) {
						margin: 0 rem(20px) 0 0;
					}

					@include media-breakpoint-up(lg) {
						margin: 0 rem(25px) 0 0;
					}
				}
			}

			.nav-secondary {
				order: 4;
				display: flex;
				flex-basis: 100%;
				flex-direction: column;
				padding-bottom: rem(25px);

				@include media-breakpoint-up(md) {
					order: 1;
					flex-basis: auto;
					flex-direction: row;
					align-items: center;
					padding-bottom: 0;
					margin-left: auto;
					visibility: hidden;
					opacity: 0;
				}

				@include media-breakpoint-up(xl) {
					order: 5;
					align-items: flex-end;
				}

				.nav li {
					margin: rem(10px) 0;

					a {
						color: theme-color("grey");
					}

					@include media-breakpoint-up(md) {
						margin: 0 0 0 rem(20px);
					}

					@include media-breakpoint-up(lg) {
						margin: 0 0 0 rem(25px);
					}

					&.active a {
						color: theme-color("primary-accessible");
					}
				}
			}

			.nav-primary,
			.nav-secondary {
				@include media-breakpoint-down(sm) {
					display: inline-flex;
					width: 49%;
					margin-bottom: 3rem;
				}
			}
		}
	}

	.banner-local {
		width: 100%;
		position: fixed;
		z-index: 999;

		> .container {
			@include media-breakpoint-down(md) {
				max-width: unset;
			}
		}

		.banner-local-wrapper {
			position: absolute;
			background: $blue-gradient;
			width: rem(300px);
			height: rem(50px);
			max-height: rem(50px);
			overflow: hidden;
			margin-left: rem(-25px);
			font-family: $font-main;
			font-weight: bold;
			transition: max-height 0.25s, height 0.25s;

			@include media-breakpoint-down(md) {
				width: 100%;
				margin-left: -15px;
			}

			.inner-container {
				@include media-breakpoint-down(md) {
					max-width: 768px;
					margin: 0 auto;
					padding-left: rem(15px);
					padding-right: rem(15px);
				}
				@include media-breakpoint-down(sm) {
					max-width: 576px;
				}
				@include media-breakpoint-down(xs) {
					padding-left: 0;
					padding-right: 0;
				}
			}

			.banner-local-top {
				height: 0;
				overflow: hidden;

				.crumbs {
					font-size: rem(12px);
					color: #fff;
					padding: rem(25px) rem(25px) 0;

					a {
						color: #fff;

						&:hover {
							text-decoration: none;
						}
					}

					span {
						margin: 0 rem(5px);
					}
				}

				&.hidden {
					height: 0 !important;
				}
			}

			.banner-local-middle {
				height: rem(50px);
				// overflow: hidden;

				nav {
					padding: rem(15px) rem(15px) rem(15px) rem(25px);

					.nav {
						li {
							a {
								color: #fff;

								&:hover {
									text-decoration: none;
								}
							}

							&.parent {
								text-transform: uppercase;
								font-size: rem(14px);
								letter-spacing: 0.1rem;
							}

							&.active a {
								color: theme-color("yellow");
							}
						}
					}
				}

				.local-dropdown {
					width: rem(27px);
					color: #fff;
					display: flex;
					align-items: center;
					margin-left: auto;
					margin-right: rem(10px);
					transform: translateY(-3.5rem);
					padding: rem(5px) rem(6px) rem(5px) rem(4px);

					@include media-breakpoint-up(md) {
						margin-right: rem(20px);
					}

					img {
						transform: rotate3d(0, 0, 0, 180deg);
						transition: transform 0.25s;
						width: 100%;
						// margin-top: rem(5px);
					}
				}
			}

			.banner-local-bottom {
				height: 0;
				overflow: hidden;

				.nav {
					flex-direction: column;
					padding: 0 rem(25px) rem(25px);
					font-size: rem(16px);

					li {
						margin-bottom: rem(10px);

						a {
							color: #fff;
							display: block;

							&.nav-title {
								text-transform: uppercase;
								font-size: rem(14px);
								letter-spacing: 0.1rem;
								margin-left: rem(-10px);
								margin-top: rem(15px);
								opacity: 0.6;
								cursor: default;
							}

							&:hover {
								text-decoration: none;
							}
						}

						.ie11 &.back {
							&::before {
								background-image: url('../images/chevron.png');
								background-size: contain;
								background-repeat: no-repeat;
							}
						}

						&.back {
							text-transform: uppercase;
							font-size: rem(14px);
							letter-spacing: 0.1rem;
							margin-left: rem(-30px);
							display: flex;
							align-items: center;

							&::before {
								content: url("data:image/svg+xml; utf8, <svg enable-background='new 0 0 17 9.5' version='1.1' viewBox='0 0 17 9.5' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'><style type='text/css'>.st0{fill%3A%23FFFFFF%3B}</style><path class='st0' d='m9.2 9.1c-0.4 0.4-1 0.4-1.4 0l-7.4-7.3c-0.4-0.4-0.4-1 0-1.4s1-0.4 1.4 0l6.7 6.7 6.7-6.7c0.4-0.4 1-0.4 1.4 0s0.4 1 0 1.4l-7.4 7.3z'/></svg>");
								display: inline-block;
								width: rem(10px);
								height: rem(10px);
								margin-right: rem(10px);
								// background: url(../images/chevron.svg) no-repeat center center;
								transform: rotate(90deg);
							}
						}

						&.parent {
							text-transform: uppercase;
							font-size: rem(14px);
							letter-spacing: 0.1rem;
							margin-left: rem(-10px);

							a {
								color: theme-color("yellow");
							}
						}

						&.active {
							a {
								color: theme-color("yellow");
							}
						}

						&.has-children {
							> a {
								display: flex;
								align-items: center;
								&::after {
									content: url("data:image/svg+xml; utf8, <svg enable-background='new 0 0 17 9.5' version='1.1' viewBox='0 0 17 9.5' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'><style type='text/css'>.st0{fill%3A%23FFFFFF%3B}</style><path class='st0' d='m9.2 9.1c-0.4 0.4-1 0.4-1.4 0l-7.4-7.3c-0.4-0.4-0.4-1 0-1.4s1-0.4 1.4 0l6.7 6.7 6.7-6.7c0.4-0.4 1-0.4 1.4 0s0.4 1 0 1.4l-7.4 7.3z'/></svg>");
									display: inline-block;
									width: rem(10px);
									height: rem(10px);
									margin-left: rem(10px);
									// background: url(../images/chevron.svg) no-repeat center center;
									transform: rotate(-90deg);
								}
							}
						}

						.ie11 &.has-children {
							> a {
								&::after {
									background-image: url('../images/chevron.png');
									background-size: contain;
									background-repeat: no-repeat;
								}
							}
						}
					}
				}

				.child-nav {
					visibility: hidden;
					position: absolute;
					top: rem(30px);
					flex-direction: column;
					padding: 0 rem(25px);
					font-size: rem(16px);
					transform: translateX(100vw);
					transition: transform 0.25s, visibility 0s 0.25s;

					@include media-breakpoint-up(sm) {
						transform: translateX(rem(300px));
					}

					li {
						margin-bottom: rem(10px);
						position: relative;
						list-style: none;

						a {
							color: #fff;
							display: inline-block;
						}

						&.active {
							a {
								color: theme-color("yellow");
							}
						}
					}

					&.shown {
						visibility: visible;
						transition: visibility 0s;
					}
				}
			}

			> * {
				transform: translateX(0);
				transition: transform 0.25s;
			}

			&.sub-1 {
				> * {
					transform: translateX(-100vw);
					transition: transform 0.25s;

					@include media-breakpoint-up(sm) {
						transform: translateX(rem(-300px));
					}
				}
			}
		}

		&.shown {
			.banner-local-wrapper {
				transition: max-height 0.25s, transform 0.25s;

				@include media-breakpoint-up(md) {
          height: auto;
					max-height: 50vh;
				}

				.banner-local-top,
				.banner-local-bottom {
          @include media-breakpoint-up(md) {
            height: auto;
  					overflow: visible;
          }
				}

        .banner-local-middle .local-dropdown {
          img {
            @include media-breakpoint-up(lg) {
              display: none;
            }
          }
        }
			}
		}

    &.open {
      .banner-local-wrapper {
        height: auto;
        max-height: 100vh;
      }

      .banner-local-top,
      .banner-local-bottom {
        height: auto;
        overflow: visible;
      }

      .banner-local-middle .local-dropdown {
        transform: translateY(-7.5rem);

        img {
          transform: rotate3d(1, 0, 0, 180deg);
          transition: transform 0.25s;

          @include media-breakpoint-up(lg) {
            display: none;
          }
        }
      }
    }
	}

	.banner-search {
		position: fixed;
		top: 0;
		transform: translateY(-100%);
		transition: transform 0.25s;
		z-index: 999;
		display: flex;
		width: 100%;
		background-color: #fff;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
		padding: rem(28px) 0;

		&.shown {
			transform: translateY(0);
			transition: transform 0.25s;
		}

		form {
			width: 100%;

			.search-wrapper {
				position: relative;
				display: flex;
				width: 100%;

				img,
				svg {
					position: absolute;
					left: rem(10px);
					top: rem(21px);
					height: rem(15px);

					* {
						stroke: theme-color('grey');
					}
				}

				input[type="text"] {
					border: 1px solid #d9d9d9;
					background-color: #faf8f8;
					border-radius: rem(3px);
					padding: rem(15px) rem(15px) rem(15px) rem(35px);
					font-family: $font-main;
				}
				input[type="submit"] {
					font-family: $font-main;
					font-weight: 600;
					font-size: rem(14px);
					border: 0;
					text-transform: uppercase;
					letter-spacing: 0.1rem;
					background-color: theme-color('lightblue');
					color: #fff;
					padding: rem(15px) rem(35px);
					margin: 0 rem(15px);
					border-radius: rem(50px);
					cursor: pointer;
					display: none;
					transition: background-color .2s ease;

					&:hover {
						background: $darkblue;
					}

					@include media-breakpoint-up(sm) {
						display: block;
					}
				}
			}
		}

		.search-close {
			position: relative;
			height: rem(14px);
			width: rem(20px);
			align-self: center;
			cursor: pointer;
			display: block;
			margin-left: rem(15px);

			@include media-breakpoint-up(sm) {
				margin-left: 0;
			}

			span {
				position: absolute;
				width: 75%;
				height: rem(2px);
				background-color: theme-color("primary");
				border-radius: 2px;
				top: rem(7px);
				left: 0;
				transform: rotate(45deg);

				&:nth-child(2) {
					transform: rotate(-45deg);
				}
			}
		}
	}

	&__dark-mode {
		// min-height: rem(90px);

		.banner-main {
			background-color: $darkergrey;

			.banner-main-wrapper {
				.nav li a,
				.nav-secondary .nav li a {
					color: $white;
				}
			}
		}
	}
}



.apply-button{
	margin-right: 3rem;
    .cta.pill-cta{
		padding:1rem 1.5rem !important;
		margin-top: 0;
		border-radius: 4rem !important;
		span{
			color:white !important;
			text-transform: none;
			margin-right: 0 !important;
		}
	}
} 