body.search {

  .search-header {
    font-family: $font-main;
    color: theme-color('darkgrey');
    margin-top: rem(50px);

    h1 {
      font-weight: 600;
      font-size: rem(38px);
      line-height: 1;

      @include media-breakpoint-up(sm) {
        font-size: rem(58px);
      }

      @include media-breakpoint-up(lg) {
        font-size: rem(78px);
      }

      em {
        font-weight: 300;
        font-style: normal;
      }
    }
  }

  form {
    width: 100%;
    margin-top: rem(50px);
    margin-bottom: rem(50px);

    .search-wrapper {
      position: relative;
      display: flex;
      width: 100%;

      img,
      svg {
        position: absolute;
        left: rem(10px);
        top: rem(21px);
        height: rem(15px);

        * {
          stroke: theme-color('grey');
        }
      }

      input[type="text"] {
        border: 1px solid #d9d9d9;
        background-color: #faf8f8;
        border-radius: rem(3px);
        padding: rem(15px) rem(15px) rem(15px) rem(35px);
        font-family: $font-main;
      }

      input[type="submit"] {
        font-family: $font-main;
        font-weight: 600;
        font-size: rem(14px);
        border: 0;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        background-color: theme-color('lightblue');
        color: #fff;
        padding: rem(15px) rem(35px);
        margin: 0 rem(15px);
        border-radius: rem(50px);
        cursor: pointer;
        display: none;

        @include media-breakpoint-up(sm) {
          display: block;
        }
      }
    }
  }

  .search-count {
    font-family: $font-main;
    font-weight: 400;
    font-size: rem(28px);
    margin-top: rem(25px);
    margin-bottom: rem(25px);

    span {
      font-weight: 500;
      color: theme-color('primary');
    }
  }

  article {
    padding: rem(50px) 0;
    border-bottom: 1px solid theme-color('lightgrey');

    .entry-type {
      font-family: $font-main;
      font-size: rem(14px);
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }

    .entry-title {
      font-family: $font-main;
      font-weight: 600;
      font-size: rem(28px);
      margin-bottom: rem(15px);

      a {
        color: theme-color('darkgrey');

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .search-load-more {
    margin-top: rem(50px);
    margin-bottom: rem(50px);

    a {
      padding: rem(15px);
      border: 1px solid theme-color('lightgrey');
      font-family: $font-main;
      font-size: rem(14px);
      color: theme-color('grey');
      text-transform: uppercase;
      letter-spacing: 0.1em;
      transition: background-color 0.15s;

      &:hover {
        text-decoration: none;
        background-color: theme-color('light');
        transition: background-color 0.15s;
      }
    }

    .malinky-ajax-pagination-loading {
      display: none !important;
    }
  }
}
