section.b-application-journey {

    .application-journey-row {
        @include media-breakpoint-down(sm) {
            padding-top: 4rem;
        }
    }

    .step {

        @include col((
            xs: 12,
            md: 6,
        ));

        padding-bottom: 10rem;

        &:last-child() {
            margin-top: 16rem;
            padding-bottom: 0;
        }


        .content {

             @include col((
                xs: 12,
                md: 6,
            ));

            z-index: 2;

            .number {
                position: absolute;
                left: 0;
                top: -.7rem;
                font-size: 3.8rem;
                color: $primary;
                line-height: 1;
            }
            .title {
                font-size: 2.4rem;
                @include karbon();
                @include bold();
                color: $darkgrey;
                margin-left: 3rem;
                line-height: 1;
            }
            .text {
                margin-top: 1rem;
                color: $grey;
            }
            .journey-icon {
                position: absolute;
                height: 7.4rem;
                width: 7.4rem;
                transform: translate(-50%, -50%);
            }
        }
        .curved-line {
            top: 1rem;
            position: absolute;
            border-top: 3px solid $primary;
            height: calc(100% + 10rem);
            width: 45%;

            span {
                @include cover;
                top: -4px;
                background: white;
                width: calc(100% + 4px);
            }

            .dot {
                position: absolute;
                width: 2rem;
                height: 2rem;
                border-radius: 100%;
                border: 3px solid $primary;
                background: white;
                transform: translate(-50%, -50%);
                z-index: 1;
            }
        }
    }

    .step:nth-child(odd):not(:last-child()) {

        .journey-icon {
            right: -14rem;
            top: 8rem;
        }

        .curved-line {
            border-right: 3px solid $primary;
            border-radius: 0 8rem 0 0;
            right: -1.5px;

            span {
                right: unset;
                left: 0;
            }

            .dot {
                top: -1px;
                left: -1px;
            }
        }
    }

    .step:nth-child(even):not(:last-child()) {

        @include offset((
            xs: 0,
            md: 6,
        ));

        .content {
            margin-left: auto;
        }

        .journey-icon {
            top: 7rem;
            left: -7rem;
        }

        .curved-line {
            left: -1.5px;
            border-left: 3px solid $primary;
            border-radius: 8rem 0 0 0;

            span {
                left: unset;
                right: 0;
            }

            .dot {
                top: -1px;
                right: -2rem;
            }
        }
    }

    .step:last-child() {
        @include offset((
            xs: 0,
            md: 6,
        ));

        .journey-icon {
            top: 3rem;
            left: -7rem;
        }

        .curved-line {
            top: -5rem;
            left: 0px;
            border-top: unset;
            height: 0rem;
            width: 0;

            .dot {
                top: 0px;
                left: 0px;
            }
        }
    }
}

section.b-application-journey {

    .step, .step:nth-child(odd):not(:last-child()), .step:nth-child(even):not(:last-child()), .step:last-child() {

        @include media-breakpoint-down(sm) {
            padding-left: 15rem;

            &:last-child() {
                margin-top: 0rem;
                .curved-line {
                    height: 0rem !important;
                }
            }

            .curved-line {
                height: 100%;
                border-radius: unset;
                border: unset;
                border-left: 3px solid $primary;
                width: 4rem;
                left: 11rem;
                right: unset;
                top: 1.2rem;
                .dot {
                    border: 3px solid $primary;
                    width: 2.8rem;
                    height: 2.8rem;
                    top: -1px;
                    left: -1px;
                }
            }
            .journey-icon {
                bottom: unset;
                right: unset;
                left: -14rem;
                top: .5rem;
            }
        }

        @include media-breakpoint-down(xs) {
            .journey-icon {
                height: 6rem;
                width: 6rem;
                transform: translate(-50%, -50%);
                left: -10rem;
                top: .5rem;
            }
        }
    }

}
