section.b-call-to-action.blue-bg {
	.container {
		@include padding-y((
            xs: 9rem,
            lg: 15rem,
        ));
	}

	.call-to-action-row {
		justify-content: center;
		align-items: center;

		.ie11 & {
			flex-direction: row;
			justify-content: flex-start;
		}
	}

	.call-to-action-wrapper {
		@include col((
            xs: 10,
            lg: 8,
        ));
		text-align: center;
		margin: 0 auto;
	}

	.header {
		color: white;
		@include karbon();
		@include font-size((
            xs: 3.2rem,
            md: 3.8rem,
        ));
		line-height: 1.2;
	}

	.links {
		@include margin-top((
            xs: 6rem,
            sm: 4rem,
        ));
	}
}

section.b-call-to-action.white-bg {
	.call-to-action-wrapper {
		@include col(12);
		@include media-breakpoint-down(sm) {
			@include padding-x(0);
		}
		.inner-wrapper {
			background: $light;
			a {
				color: darken($primary-accessible, 5%);
			}
			@include padding-y((
                xs: 6rem,
                lg: 12rem,
            ));
			text-align: center;
			@include media-breakpoint-down(sm) {
				@include padding-x(1.5rem);
			}
		}
		.content {
			@include col((
                xs: 10,
                lg: 8,
            ));
			margin: 0 auto;
			@extend .content-tinymce;
			p {
				color: $darkgrey;
				font-size: 2rem;
				line-height: 1.6;
			}
		}

		.links {
			@include col(10);
			margin: 0 auto;
			@include margin-top((
                xs: 3rem,
                md: 4rem,
            ));
			.pill-cta.blue {
				background: $lightblue;
			}
		}
	}
}

.on-event-page section.b-call-to-action.white-bg .call-to-action-wrapper {
	.inner-wrapper{
		@include padding-y((
            xs: 3rem,
            lg: 3rem,
        ));
	}
	.content {
		@include col((
	        xs: 11,
	        lg: 11,
	    ));

	    p{
	    	@include font-size((
	            lg: 1.8rem,
	        ));
	    }
	}
}