.b-ensembles-directory {
	overflow: visible;
	[v-cloak] {
		display: none !important;
	}

	.fade-enter-active {
		transition: opacity .5s;
	}
	.fade-enter,
	.fade-leave-active {
		opacity: 0;
	}

	#event-list-bottom {
		padding: rem(15px 15px);
		text-align: center;
	}

	svg {
		stroke: $primary;
	}
}
