section.b-events-slider {
  --event-date-size: 7rem;
  line-height: 1;

  .title {
    margin-bottom: 3rem;
  }

  .slick-arrow {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: $primary;
    border-radius: 100%;
    height: 4.6rem;
    width: 4.6rem;
    transition: background-color 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;

    &:hover {
      background-color: $darkblue;
    }

    img {
      height: 2rem;
      width: 2rem;
    }

    @include media-breakpoint-down(md) {
      height: 3.6rem;
      width: 3.6rem;
      img {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &.slick-prev-arrow {
      left: -6rem;

      img {
        transform: rotate(180deg);
      }
    }

    &.slick-next-arrow {
      right: -6rem;
    }

    @include media-breakpoint-down(lg) {
      &.slick-prev-arrow {
        left: -4rem;
      }

      &.slick-next-arrow {
        right: -4rem;
      }
    }
  }

  @mixin arrows-over-slider {
    .slick-arrow {
      &.slick-prev-arrow {
        left: -0.5rem;
      }

      &.slick-next-arrow {
        right: -0.5rem;
      }
    }

    @include media-breakpoint-only(md) {
      .slick-arrow {
        &.slick-prev-arrow {
          left: -1.5rem;
        }

        &.slick-next-arrow {
          right: -1.5rem;
        }
      }
    }
  }

  .container:not(.featured-events) {
    @include media-breakpoint-down(md) {
      @include arrows-over-slider;
    }
  }

  .container.featured-events {
    max-width: 100%;

    @include media-breakpoint-down(md) {
      padding-left: 0;
      padding-right: 0;
    }

    .block-foreground {
      padding: 0 1.5rem;
      .wrapper {
        background:
        linear-gradient(
          to bottom,
          hsla(0, 0%, 0%, 0) 0%,
          hsla(0, 0%, 0%, 0.01) 8.1%,
          hsla(0, 0%, 0%, 0.039) 15.5%,
          hsla(0, 0%, 0%, 0.083) 22.5%,
          hsla(0, 0%, 0%, 0.14) 29%,
          hsla(0, 0%, 0%, 0.207) 35.3%,
          hsla(0, 0%, 0%, 0.282) 41.2%,
          hsla(0, 0%, 0%, 0.36) 47.1%,
          hsla(0, 0%, 0%, 0.44) 52.9%,
          hsla(0, 0%, 0%, 0.518) 58.8%,
          hsla(0, 0%, 0%, 0.593) 64.7%,
          hsla(0, 0%, 0%, 0.66) 71%,
          hsla(0, 0%, 0%, 0.717) 77.5%,
          hsla(0, 0%, 0%, 0.761) 84.5%,
          hsla(0, 0%, 0%, 0.79) 91.9%,
          hsla(0, 0%, 0%, 0.8) 100%
        );
      }

    }

    .block-background {

      .image-container {
        margin-bottom: 0;
      }
    }

    @include arrows-over-slider;
    @include media-breakpoint-down(md) {
      .slick-arrow {
        &.slick-prev-arrow {
          left: 1.5rem;
        }

        &.slick-next-arrow {
          right: 1.5rem;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .slick-prev-arrow,
      .slick-next-arrow {
        display: none;
      }

      .event-card {
        padding: 0 1rem;
      }
    }

    .wrapper {
      padding: 1.5rem 2.5rem;

      @include media-breakpoint-down(sm) {
        padding: 1rem;
      }

      .event-date {
        position: static;
        margin-right: 1rem;
        margin-bottom: 0;
      }

      .event-info {
        width: calc(100% - var(--event-date-size));
      }

      .category {
        margin-bottom: 0;
      }
    }
  }
}
