section.b-hero {

    .header {
        @extend .content-tinymce;

        h1 {
            position: relative;
            color: white;
            z-index: 5;
        }
    }

    &.white-bg {
        .header {
            h1 {
                color: $darkgrey;
            }
        }
    }

    .content {
        @include col(12);
    }

    &.image-mask {
        .content {
            z-index: 10 !important;
        }
    }

    .hero-row {
      flex: 1;
    }

    &.background-image {

        background-color: $primary;

        .container {
            @include min-height((
                xs: 42rem,
                lg: 65rem,
            ));

            @include padding-y(((
                xs: 7rem,
                lg: 14.5rem,
            )));
            z-index: 3;
        }

        &:not(.no-header) {
            &:before {
                @include cover();
                @include background((
                    xs: $dark-gradient-flip,
                    lg: $dark-gradient,
                ));
                z-index: 2;
            }
        }

        .content {
            text-align: right;
        }

        .contact-info {
            position: relative;
            text-align: left;
            background: white;

            @include margin-top((
                xs: 3rem,
                lg: 7.5rem,
            ));

            @include padding((
                xs: 3rem,
                md: 6rem,
            ));

            @include col((
                xs: 12,
                md: 10,
                lg: 6,
            ));
            margin-left: auto;

            @extend .content-tinymce;
        }
    }

    @include media-breakpoint-down(md) {
        &:not(.contact-hero) {
            .container {
                height: 1px;
                .hero-row {
                    height: 100%;
                    .content {
                        height: 100%;
                    }
                }
            }
        }

        .cta {
            margin-top: 0;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &.background-image {
            .content {
                text-align: left;
            }
        }
    }
}
