section.b-info-grid {

    &.number-grid {
        .grid-card {
            .inner-wrapper {
                background: $light;
                padding: 3rem;
                border-radius: 2rem;
            }

            .header-title {
                width: 7rem;
                height: 7rem;
                margin-bottom: 3rem;
                background: $primary;
                font-size: 4.4rem;
                @include karbon();
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                color: white;
                font-weight: 400;
            }

            .text p {
                color: $grey;
            }
        }
    }

    h5 {
        font-family: $font-main;
        font-size: rem(14px);
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        color: $darkgrey;
        font-weight: bold;
        margin-bottom: rem(15px);
    }

    p {
        margin-bottom: rem(50px);
    }

}
