section.b-info-content {
    .info-content-row {
        justify-content: space-between;
    }

    .header-content {
        position: relative;
        @include order(1);
        @include col((
            xs: 12,
            md: 6,
        ));

        display: flex;
        flex-wrap: wrap;
        @include media-breakpoint-up(md) {
            display: block;
            .details-group, .header-links {
                display: inline-block;
            }
        }

        .image {
            width: 100%;
            .image-wrapper {
                overflow: hidden;
                background-size: cover;
                background-position: center center;
            }
        }

        .header {
            @include col(12);
            @include karbon();
            color: $primary;
        }

        img {
            width: 100%;
            @include img-fluid();
        }

        .image-caption {
            font-size: 1.4rem;
            padding-top: .5rem;
        }

        .header-links {
            @include col((
                xs: 12,
                sm: 6,
                md: 12,
            ));
            margin-top: 2rem;
            @include margin-bottom((
                xs: 1rem,
                sm: 0rem,
                md: 4rem,
            ));
            .cta {
                &:first-child() {
                    margin-top: 0rem;
                }
            }
        }

        .details-group {
            margin-top: 2rem;
            @include col(12);
            .details {
                @include col((
                    xs: 12,
                    sm: 6,
                    md: 8,
                    lg: 7,
                ));
                font-size: 1.4rem !important;
                @extend .content-tinymce;
                margin-bottom: 1.25rem;
            }
            .details-links {
                .cta {
                    &:first-child() {
                        margin-top: 0rem;
                    }
                }
            }
        }
    }

    .content {
        position: relative;
        @include order(12);
        @include col((
            xs: 12,
            md: 6,
        ));

        @include margin-top((
            xs: 2rem,
            md: 0rem,
        ));

        .title {
            color: $darkgrey;
            @include karbon();
            @include bold();
            line-height: 1.1;
            font-size: 3.8rem;
            @include margin-bottom((
                xs: 3rem,
                md: 4rem,
                lg: 5rem,
            ));
        }

        .text {
            @extend .content-tinymce;

            h3 {
                color: $primary;
            }
        }
    }

    &.right {
        .header-content {
            @include order((
                xs: 1,
                md: 12,
            ));
        }
        .content {
            @include order((
                xs: 12,
                md: 1,
            ));
        }
    }

    &.large-header {
        .header-content .header {

            @include light();

            @include font-size((
                xs: 5rem,
                md: 8rem,
                lg: 9rem,
            ));

            @include line-height((
                xs: 1,
                lg: .94,
            ));
        }
    }

    &.medium-header {
        .header-content .header {
            @include light();

            @include font-size((
                xs: 5rem,
                lg: 6rem,
                xl: 7rem,
            ));

            @include line-height((
                xs: 1,
                lg: .94,
            ));
        }
    }

    &.small-header:not(.right) {
        .header-content .header {
            @include font-size((
                xs: 3.2rem,
                md: 3.2rem,
                lg: 3.8rem,
            ));

            @include line-height((
                xs: 1.31,
                md: 1.31,
                lg: 1.29,
            ));
        }
    }

}

/* -------------------------------------------- */
// STANDARD
section.b-info-content.standard {
    &.right {
        .header-content {
            @include col((
                xs: 12,
                md: 4,
            ));
        }
        .details {
            @include col((
                xs: 12,
                sm: 6,
                md: 12,
                lg: 9,
            ));
        }
        .header {
            font-size: 2.8rem;
            line-height: 1.2;
            @include bold();
            color: $darkgrey;
        }
    }
    &:not(.right) {
      .header-content {
        @include media-breakpoint-up(md) {
          display: block;
        }
      }
    }
}

/* -------------------------------------------- */
// IMAGE BLOCK
section.b-info-content.image-block {
    .content {
        @include col((
            xs: 12,
            md: 5,
        ));
    }
}

/* -------------------------------------------- */
// IMAGE MASK
section.b-info-content.image-mask {

    .content {

        @include col((
            xs: 12,
            md: 5,
        ));
    }

    @include media-breakpoint-down(sm) {
        .content {
            margin-top: 38rem + 6rem;
        }
    }

    &.left {
        .content {
            margin-left: auto;
        }
    }

    &.yellow-bg {
        .content {
            .title {
                color: white;
            }
            .text {
                color: black;
                p, h2, h3, h4, h5 {
                    color: black;
                }
            }
        }
    }
    // blue background styling
    &.blue-bg {
        .content {
            .title {
                color: $yellow;
            }
            .text {
                color: white;
                p, h2, h3, h4, h5 {
                    color: white;
                }
            }
        }
    }
}

/* -------------------------------------------- */
// BACKGROUND IMAGE

section.b-info-content.background-image {

    &:not(.inverted) {
        background-position: bottom center;
        background-size: 100%;
        background-repeat: no-repeat;
        .container {
            @include padding-bottom((
                xs: 30rem,
                lg: 40rem,
                xl: 60rem,
            ));
        }
        &:before {
            @include media-breakpoint-up(xl) {
                @include cover;
                height: 60%;
                background: linear-gradient(to bottom, white 60%, rgba(white, 0));
            }
        }
    }

    &.inverted {
        .info-content-row {
            z-index: 20;
        }

        &:after {
            @include cover();
            z-index: 10;
            background: black;
            opacity: .4;
        }

        .header, .title, .text, .details {
            color: white !important;
            strong {
                color: white;
            }
            p, h2, h3, h4, h5 {
                color: white;
            }
        }
    }
}
