section.b-navigation-carousel {

    &.right {
        .content {
            margin-left: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        .image-mask-group {
            .image-mask {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                transition: opacity .1s linear;
                z-index: 0;
                .image-wrapper {
                    opacity: 1;
                }

                &.active {
                    opacity: 1;
                    z-index: 2;
                }
            }
        }
    }

    .content {
        margin-left: auto;
        @include col((
            xs: 12,
            md: 7,
            lg: 5,
        ));

        @include media-breakpoint-down(sm) {
            margin-top: 38rem + 6rem;
        }

        .header {
            color: $primary;
            font-size: 3.8rem;
            line-height: 1.2;
            margin-bottom: 4rem;
            @include margin-bottom((
                xs: 2rem,
                lg: 4rem,
            ));
        }

        ul {
            margin-bottom: 4rem;

            &:last-child() {
                margin-bottom: 0;
            }

            li {
                position: relative;
                padding-left: 9rem;
                transition: background .4s ease;
                @include padding-right((
                    xs: 0rem,
                    lg: 7rem,
                ));
                @include padding-y(2rem);

                a.link {
                    @include cover();
                    outline: none;
                    z-index: 20;
                }

                .title {
                    color: $darkgrey;
                    @include karbon();
                    @include bold();
                    font-size: 2.8rem;
                    margin-bottom: 1rem;
                }

                .text {
                    color: $grey;
                }

                .cta.circle-cta {
                    position: absolute;
                    top: 0rem;
                    left: 2rem;
                }

                @include media-breakpoint-up(lg) {
                    &.active {
                        background: $blue-gradient;
                        .title {
                            color: $yellow;
                        }
                        .text {
                            color: white;
                        }
                        .cta.circle-cta {
                             .icon {
                                background: $yellow;
                                svg path {
                                    stroke: black;
                                }
                            }
                            span {
                                color: theme-color("darkgrey");
                            }
                            &:hover, &.hover {
                                .icon {
                                    background: $orange;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

}