section.b-quotes {

    &.right {
        .content{
            margin-left: 0;
        }
    }

    .content {
        margin-left: auto;
        @include col((
            xs: 12,
            md: 5,
        ));

        @include media-breakpoint-down(sm) {
            margin-top: 38rem + 6rem;
        }

        .header {
            color: $primary;
            font-size: 3.8rem;
            line-height: 1.2;
            @include karbon();
             @include font-size((
                xs: 3.2rem,
                sm: 3.8rem,
            ));
            @include margin-bottom((
                xs: 3rem,
                md: 6rem,
            ));
        }

        .quote-wrapper {
            position: relative;

            * {
                border: none;
                outline: none;
            }

            .quote {
                .title {
                    color: $darkgrey;
                    @include karbon();
                    @include bold();
                    font-size: 3.8rem;
                    margin-bottom: 3rem;
                }

                .text {
                    color: $grey;
                }
            }
        }

        .quote-nav {
            @include margin-top((
                xs: 6rem,
                md: 8rem,
                lg: 23rem,
            ));
            position: relative;
            width: 100%;
            @include media-breakpoint-down(sm) {
                display: inline-block;
                text-align: center;
            }
            .slick-dots-wrapper {
                margin-bottom: 2rem;
            }
        }
    }
}