section.b-virtual-tour {

    .container {
        min-height: unset !important;
        @include padding-y((
            xs: 12rem,
            lg: 10rem,
        ));
    }

    .virtual-tour-row {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &:hover {
        a {
            text-decoration: none;
        }
        &:before {
            opacity: .6;
        }
    }

    .play-button {
        display: block;
        height: 8rem;
        width: 8rem;
        transition: opacity 0.15s;
        margin-bottom: 4rem;
    }

    &:before {
        @include cover();
        background: black;
        opacity: .4;
        transition: opacity .4s;
    }

    .header {
        @include col(12);
        @extend .content-tinymce;
        h3 {
          @include font-size((
            xs: 3.2rem,
            lg: 3.8rem,
          ));
          strong {
              @include margin-top((
                  xs: 1rem,
                  md: 2rem,
              ));
              display: block;
              font-size: 3.8rem;
          }
        }
        h1, h2, h3, h4, h5 {
            color: white;
            margin-bottom: 0;
        }
    }
}